.leftSide {
    text-align: left;
}

.card {
    width: 100%;
    height: 600px;
    background-color: black;
}

.cardText {
    margin-top: 10px;
}

.button {
    margin-top: 50px;
}

.btnLogin {
    margin-right: 10px;
}

.box {
    margin: auto;
    margin-top: -50px;
}

.cardTitle {
    margin-top: 10px;
    color: white;
}

h2 {
    margin-bottom: 15px;
    color: white;
}

.formInput {
    background-color: rgb(116, 115, 115);
    color: red;
}